body {
  margin: 1rem;
}

.app {
  width: calc(20rem + 1px);
  height: calc(20rem + 1px);
  margin: 0 auto;
  position: relative;
}

.pin {
  position: absolute;
  font-size: 1rem;
  line-height: 1;
}

[type="range"] {
  opacity: .1;
}